* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-base: #090909;
  --bg-elevated: #171717;
  --bg-blur: #171717B3;
  --bg-shadow: #1F1F1F;
  --selected: #232323;
  --strokeselect: #2E2E2E;
  --primary-text: #808080;
  --bright-text: #CECECE;
  --extra-bright-text: #FFFFFF;
  --white-20: #ffffff19;
  --white-35: #FFFFFF59;
  --subtext: #545454;
  --success: #149610;
  --primary: #3A72FF;
  --warning: #ED2222;
  --btn-hover: #000000c0;
  --radius: 16px;
  --max-width: 1920px;
  --transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  --side-margin: 100px;
  --outer-margin: 20px;
  --max-width: 1400px;

  --border-sm: 8px;
  --border-md: 12px;
  --border-lg: 20px;
  --border-xl: 30px;

  --icon-xs: 14px;
  --icon-sm: 16px;
  --icon-md: 18px;
  --icon-lg: 20px;

  --xxs: 4px;
  --xs: 8px;
  --sm: 12px;
  --md: 16px;
  --lg: 24px;
  --xl: 32px;
  --xxl: 48px;
  --xxxl: 64px;

  --border: 1px solid var(--strokeselect);
  --border-thin: 0.6px solid var(--strokeselect);
}

:root[data-theme="light"] {
  --bg-base: #F4F4F4;
  --bg-elevated: #F0F0F0;
  --bg-blur: #F0F0F0B3;
  --selected: #EBEBEB;
  --strokeselect: #DEDEDE;
  --primary-text: #6B6B6B;
  --bright-text: #2A2A2A;
  --extra-bright-text: #000000;
  --white-20: #00000033;
  --white-35: #00000059;
  --subtext: #9A9A9A;
  --success: #149610;
  --primary: #3A72FF;
  --btn-hover: #ffffffc0;
}

html, body {
  overscroll-behavior: none;
  height: 100%;
  scrollbar-width: none;
}


@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SF Pro.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
textarea,
span,
li,
kbd {
  font-family: 'SF Pro';
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  color: var(--primary-text)
}

h1 {
  font-size: 24px;
}

h2,
input {
  font-size: 20px;
}

h3,
textarea {
  font-size: 16px;
}

h4,
span,
li {
  font-size: 12px;
}

h5 {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.extra-bright {
  color: var(--extra-bright-text)
}

.bright {
  color: var(--bright-text)
}

.subtext {
  color: var(--subtext)
}

.nowrap {
  white-space: nowrap;
}

button {
  background: none;
  border: none;
  cursor: pointer !important;
  padding: 0;
  font: inherit;
}

.icon {
  display: block;
}

.chip-large {
  padding: 6px var(--xs)
}

.tag {
  padding: var(--xs) var(--xxs) var(--xxs) var(--xxs)
}

.flex-horiz {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gap-sm {
  gap: var(--xxs);
}

.gap-md {
  gap: var(--xs)
}

.gap-lg {
  gap: var(--md)
}

.bg-blur {
  background-color: var(--bg-blur);
  border: var(--border-thin);
  backdrop-filter: blur(60px);
}

input {
  border: none;
	outline: none;
}